<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">


    <context:property-placeholder location="classpath:conf/img_server.properties"/>

    <!--扫描-->
    <context:component-scan base-package="com.em.controller"/>
    <!--注解驱动 (包含处理器映射器和处理器适配器)-->
    <mvc:annotation-driven/>

    <!--配置资源映射-->
    <mvc:resources mapping="/css/**" location="/css/"/>
    <mvc:resources mapping="/js/**" location="/js/"/>
    <mvc:resources mapping="/resources/**" location="classpath:/static/"/>

    <!--多媒体解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--设置默认编码-->
        <property name="defaultEncoding" value="UTF-8"/>
        <!--设置文件上传最大值5MB-->
        <property name="maxUploadSize" value="5242880"/>
    </bean>

    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--前后缀-->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 引用服务 -->
    <dubbo:application name="em-manager-web"/>
    <dubbo:registry protocol="zookeeper" address="zookeeper://115.159.40.33:2181"/>
    <dubbo:reference interface="com.em.service.ItemService" id="itemService"/>
    <dubbo:reference interface="com.em.service.ItemCatService" id="itemCatService"/>
</beans>